#dropdown-color {
    --cirrus-primary: white;
}
#back-arrow-color {
    --cirrus-primary: black;
    --cirrus-link: black;
}
#a-color {
    color: white;
}
#splash-img {
    background: url(splash.gif);
}
footer {
    width: 100%;
    padding: 3rem 0;
    background-color: #fefefe;
    text-align: center;
    margin-top: 0rem;
}
html {
    scroll-behavior: smooth;
}
.u::after {
    content: "";
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    height: 0.1rem;
    width: 0;
    background: white;
    bottom: -0.25em;
}
